body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb {
  background: rgb(241, 66, 95);
  border-radius: 40px;
  border: 3px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(238, 24, 59);
}


.navbar{
  background-color: rgb(0, 0, 7);
  border-bottom: 4px solid rgb(110, 201, 231);
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 50px;
  font-weight: 600;
  margin-bottom: 60px;
}
.navbar ul{
  list-style: none;
  width: 370px;
  display: flex;
  justify-content: space-between;
}
.navbar a{
  text-decoration: none;
  color: white;
}
.navbar a:hover{
  color: rgb(241, 66, 95);
}


#home{
  height: 700px;
  background-color: rgb(1, 1, 36);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home h1{
  color: white;
  width: 700px;
  font-size: 40px;
}
#home span{
  color: rgb(241, 66, 95);
}
#home button{
  width: 250px;
  height: 50px;
  background-color: transparent;
  border: 4px solid white;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 10px;
}
#home a{
  text-decoration: none;
  color: white;
}



#about{
  height: 800px;
}
#about h2{
  font-size: 40px;
  text-shadow: 2px 2px 4px #888888;
}
.container{
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.shapes{
  background-color: rgb(110, 201, 231);
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin-left: 75px;
}
.shapes img{
  margin-top: 20px;
}
.card{
  width:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
.card h2{
  color: rgb(39, 39, 39);
  margin-bottom: 0;
}
.card p{
  color: gray;
}

.me img{
  border-radius: 100px;
}
.me{
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.left{
  width: 500px;
  margin-right: 80px;
}
.left h3{
  color: rgb(77, 76, 76);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}
.left p {
  color: gray;
  text-align: justify;
  line-height: 25px;
}
.left p a{
  text-decoration: none;
  color: rgb(25, 171, 219);
  font-weight: 600;
}
.right{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
.right div{
  width: 100px;
  height: 100px;
  background-color: rgb(110, 201, 231);
  color: white;
  font-size: 20px;
  font-weight: 500;
  align-content: center;
  border-radius: 100px;
  margin-right: 10px;
}



#portfolio{
  height: 1000px;
  background-color: rgb(236, 235, 235);
  margin-top: 400px;
  padding-top: 60px;
}
#portfolio h2{
  font-size: 40px;
  text-shadow: 2px 2px 4px #888888;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



#contact{
  height: 700px;
  background-color:  rgb(1, 1, 36);
  padding-top: 60px;
}
#contact h2{
  font-size: 40px;
  color: white;
  margin-top: 0;
}
#contact h4{
  color: rgb(110, 201, 231);
  margin-bottom: 40px;
}
#contact form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 420px;
}
#contact form input, textarea{
  border: none;
  margin-bottom: 5px;
  padding-left: 20px;
}
#contact form input{
  height: 45px;
}
#contact form textarea{
  height: 140px;
  padding-top: 20px;
}
#contact form input, textarea, button{
  background-color: rgb(1, 1, 20);
}
#contact form button{
  color: white;
  width: 100px;
  margin-left: auto;
  border: 2px solid white;
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
}


.icons-social{
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  width: 300px;
 margin-left: 520px;
}



footer{
  background-color: rgb(17, 17, 17);
  color: rgb(241, 241, 241);
  padding-top: 25px;
  padding-bottom: 25px;
}
footer p{
  margin: 0;
}
footer p span{
  color: rgb(241, 66, 95);
}
.back-home{
  position: absolute;
  background-color: rgb(241, 66, 95);
  padding: 5px 5px;
  top: 3700px;
  right: 660px;
  border-radius: 100px;
}